langchain
langchain-community
langchain-core
langchain-groq
groq
langchain-huggingface
sentence-transformers
langchain-chroma
chromadb
pypdf
python-docx
unstructured
beautifulsoup4
python-dotenv
streamlit
fastapi
uvicorn
langchain_experimental